
QWidget {
	background-color: #1b1b1b;
	color: white; 
}

#MainControl, 
#MainControl QWidget {  
	background-color: #424242; 
	color: white; 
}

#MainControl QMenu::item:selected { 
	background-color: #6d6d6d; 
}

QMainWindow::separator {
	width: 1px; 
	border: none;
}