
QWidget {
	background-color: #424242; 
	color: white;
}

#MainMenu {
	background-color: #333333;
}

#MainMenu QMenu::item:selected { 
	background-color: #6d6d6d; 
}

QMainWindow::separator {
	width: 1px; 
	border: none;
}

QPushButton {
	color: white;
}

QPushButton:disabled {
	color: #a8a8a8;
}